.text_options{
    font-size: 25px;
    font-weight: bold;
}

.father{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #dcd7d7;
}
.header{
    width: 99.2%;
    height: 100px;
    background: #fff462;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.father_of_center{
    display: flex;
}
.menu{
    width: 25%;
    height: 350px;
    background: #ff30cd;
    border: black solid 2px;
    margin: 5px;
    margin-left: -0.00000001px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.father_of_post{
    flex-grow: 1;
}
.post{
    width: 98.2%;
    height: 170px;
    background: #0693be;
    margin: 5px ;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 99.2%;
    height: 100px;
    background: #fcf39e;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}