body{
    background: #3c9eb6;
}
.block1{
    height: 300px;
    background: #a20202;
    display: flex;
    justify-content: center;
}
.text{
    font-size: 25px;
    color: yellowgreen;
}
a{
    color: silver;
}
.fblock{
    background: #3c9eb6;
    height: 500px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.infblock1{
    background: #a20202;
    height: 500px;
    width: 1000px;


}
.infblock2{
    background: #a20202;
    height: 500px;
    width: 300px;
    margin-right: 15px;

}